{{!-- columns can only be 9 --}}
<div class="row min-vh-100 flex-column flex-md-row">
    <div class="col col-12 col-md-9 col-xl-10 d-flex justify-content-center">
        <h1 class="display-1">I Am a Full-Stack Developer</h1>
    </div>
</div>