{{! columns can only be 9 }}
<div class='row min-vh-100 flex-column flex-md-row'>
    <div class='col col-12 col-md-9 col-xl-10'>
        <div class="container-fluid m-0">
            <h1 class='display-1 fw-bold text-end pt-5'>I Am a Full-Stack
                <a id="developer">Developer</a></h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h3 class='text-end'>and Photographer</h3>
        </div>
    </div>
</div>